<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<title>salif.github.io</title>
	<link rel="canonical" href="https://salif.github.io" />
	<link rel="icon" href="favicon.ico" type="image/x-icon" />
</head>

<body>

	<ul><li><a href="https://salif.eu/projects">salif.eu/projects</a></li></ul>
	<br />
	{{ content }}
	<script data-goatcounter="https://sgi.goatcounter.com/count" async src="//gc.zgo.at/count.js"></script>
</body>

</html>
