<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<title>salif.github.io</title>
	<link rel="canonical" href="https://salif.github.io" />
	<link rel="icon" href="favicon.ico" type="image/x-icon" />
</head>

<body>
	<div class="main">
		<a href="https://salif.eu/projects">salif.eu/projects</a>
		<br />
		{{ content }}
		<br />
	</div>
	<style>
		.main {
			padding-top: 1rem;
			padding-left: 1rem;
			font-size: 1.1rem;
		}

		.main a {
			line-height: 1.6;
		}
	</style>
	<script data-goatcounter="https://sgi.goatcounter.com/count" async src="//gc.zgo.at/count.js"></script>
</body>

</html>
